.all {
    color: #696969;
    padding-bottom: 8%;
    padding-top: 1%;
    text-align: left;
    background-color: white;
}

.about_box {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 8%;
    /* background-color: white; */
    padding-top: 1%;
    padding-bottom: 4%;
    border-radius: 30px;
}


.left_text {
    text-align: left;
    margin-left: 10%;
}

h2 {
    font-size: 20px;
    margin: 0;
}

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.button:hover {
    color: pink
}


@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--c-grey-100: #f4f6f8;
	--c-grey-200: #e3e3e3;
	--c-grey-300: #b2b2b2;
	--c-grey-400: #7b7b7b;
	--c-grey-500: #3d3d3d;

	--c-blue-500: #688afd;
}

body {

	/* line-height: 1.5;
	min-height: 100vh; */
	font-family: "Outfit", sans-serif;
} 

/* button, */
input,
select,
textarea, a {
	font: inherit;
}

button {
    /* backgroundColor: "white",
                    color: "#167c9e",
                    borderRadius: "10%",
                    borderWidth: "1px",
                    borderColor: "#167c9e",
                    borderStyle: "solid",
                    fontSize: "12px",
                    // padding: "2%",
                    fontFamily: "Outfit",
                    marginRight: "1%",
                    // width: "20%", */
                    color: green,
}


.timeline {
	width: 85%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding: 0 0 0 32px;
	border-left: 2px solid #696969;
	font-size: 1.125rem;
    list-style-type: none;
    
}

.timeline_item {
    display: flex;
    align-items: start;  /* Align items vertically */
}



.timeline_item_icon {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    margin-left: -52px;
    /* flex-shrink: 0; */
    overflow: hidden;
    box-shadow: 0 0 0 6px #fff;
    svg {
        width: 20px;
        height: 20px;
    }
    background-color: white;
}

.timeline_item_content {
    margin-left: 20px;  
}

.headerlink {
    color: #167c9e;
    text-decoration: none;
}

.headerlink:hover {
    color: #073f52;
    text-decoration: none;

}
