.all {
  color: #696969;
  padding-top: 1%;
  
  background-color: white;
}

/* .projects_box {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 3%;
  padding-left: 3%;
  margin-bottom: 3%;
  border-radius: 30px;
  transition: transform .2s;
}
.project_box:hover{
  transform:scale(.8);
} */

.outline {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 6%;
}
.zoom {
  background-color: #F0F0F0;
  /* padding-top: 10%;
  padding-bottom: 10%; */
  /* height: 100%; */
  padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 3%;
  padding-left: 3%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 30px;
  transition: transform .2s;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 415px;
}

h2 {
  line-height: 0.5;
  margin: 0;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
color: #167c9e;
}

.project_title {
  margin-top: 4%;
}